<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the text analyser.
        Enter your text below
    </h1>
    <form action='/analyze' method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 710px; height: 134px;"></textarea><br>
        <br>
        <input type="checkbox" name="removepunc">remove <br><br>punctuations
        <input type="checkbox" name="fullcaps">uppercase<br>
        <input type="checkbox" name="newlineremover">new line remover<br>
        <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
        <input type="checkbox" name="charactercount"> charactercount<br>
        <button type="submit">Analyse text</button>
        
    </form>
</body>
</html>